<!DOCTYPE html>

<!-- General Section -->

<section class="container-fluid">
    <div class="general">
        <h3>GENERAL STATISTIC</h3>

        <div class="general-calendar">
            <form id="general-calendar-form" class="calendar-wrapper">
                <input class="left-calendar-input" type="date" value="2016-05-16">
                <input class="right-calendar-input" type="date" value="2016-05-16">
                <i class="icon-calendar"></i>
            </form>
            <button id="general-calendar-reset" class="btn-square calendar-button" type="button" value="Reset form">
                <i class="icon-refresh"></i>
            </button>
        </div>

        <div class="general-table">
            <div class="wrapper-table row-table">

                <div class="row-left">
                    <div class="general-table-top">
                        <div class="table-name">
                            <p>Visit Signups</p>
                        </div>
                        <div class="table-value">
                            <p>124</p>
                        </div>
                    </div>

                    <div class="general-table-top">
                        <div class="table-name">
                            <p>FTD</p>
                        </div>
                        <div class="table-value">
                            <p>445</p>
                        </div>
                    </div>
                </div>

                <div class="row-right">
                    <div class="general-table-top">
                        <div class="table-name">
                            <p>Net deposit</p>
                        </div>
                        <div class="table-value">
                            <p>564</p>
                        </div>
                    </div>

                    <div class="general-table-top">
                        <div class="table-name">
                            <p>Turn over</p>
                        </div>
                        <div class="table-value">
                            <p>432</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="general-chart">
            <div class="wrapper">
                <div class="heading">
                    <p>Earnings chart</p>
                </div>
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Links Section -->



<!-- <section class="container-fluid">
    <div class="links general">
        <div class="links-heading">
            <h3>LINKS</h3>
        </div>

        <div id="link-table" class="wrapper ">

            <div class="btn btn-success button-links-top add-link-button">+ add new</div>

            <div id="link-element" class="table-row top-border">
                <div class="name-column">
                    <p>Home page</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="https://www.homepage.org/" rel="noopener"
                        target="_blank">http://www.homepage.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Currently offer</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.currently.com" rel="noopener"
                        target="_blank">http://www.currently.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Blurpix</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.blurpix.com" rel="noopener"
                        target="_blank">http://www.blurpix.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Yoursite</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.yoursite.com" rel="noopener"
                        target="_blank">http://www.yoursite.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Google</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.google.com" rel="noopener"
                        target="_blank">http://www.google.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Facebook</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.facebook.com" rel="noopener"
                        target="_blank">http://www.facebook.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Dashboard</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.dashboard.com" rel="noopener"
                        target="_blank">http://www.dashboard.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Blurax</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.blurax.com" rel="noopener"
                        target="_blank">http://www.blurax.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Piece of wine</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.pieceofwine.com" rel="noopener"
                        target="_blank">http://www.pieceofwine.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="table-row">
                <div class="name-column">
                    <p>Twitter</p>
                </div>
                <div class="link-column">
                    <a class="copy-link-value" href="http://www.twitter.com" rel="noopener"
                        target="_blank">http://www.twitter.com</a>
                </div>
                <div class="links-and-bin-column">
                    <a class="copy-link">
                        <i class="icon-links"></i>
                    </a>
                    <a class="trash-button">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="btn btn-success button-links-top add-link-button">+ add new</div>
    </div>

</section> -->