<!DOCTYPE html>

<section class="container bar">
    <div class="topbar">
        <div class="row">

            <div class="wallet-element">
                <i class="icon-wallet"></i>
                <select class="select-wallet" name="wallets" id="wallet" aria-label="wallet">
                    <option class="amount" value="first">$1,500.00</option>
                    <option class="amount" value="second">$2,500.00</option>
                    <option class="amount" value="third">$5,500.00</option>
                </select>
            </div>

            <div class="notification-element">
                <a id="indicator" href="#">
                    <i class="icon-notification"></i>
                    <div id="orange-dot" class="orange-dot"></div>
                </a>
            </div>

            <div class="profile-element">
                <a class="profile-link" id="login" href="#">
                    <i class="icon-profile"></i>
                    <p>Jack Smith</p>
                </a>
            </div>

            <div class="exit-element">
                <a id="exit" href="#">
                    <i class="icon-quit"></i>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Topbar Burger -->

<div id="menu-burger" class="menu-lo-res-hamburger">
    <a href="#">
        <svg class="hamburger-lo-res-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="344.339px" height="344.339px"
            viewbox="0 0 344.339 344.339" style="enable-background:new 0 0 344.339 344.339;" xml:space="preserve">
            <g>
                <rect y="46.06" width="344.339" height="29.52" />
            </g>
            <g>
                <rect y="156.506" width="344.339" height="29.52" />
            </g>
            <g>
                <rect y="268.748" width="344.339" height="29.531" />
            </g>
        </svg>
    </a>
</div>