<!DOCTYPE html>

<!-- Sidebar -->

<section class="container">
    <div id="sidebar-section" class="sidebar">

        <div class="sidebar-logo-and-hamburger">
            <img class="logo-img" src="images/webmin.webp" alt="webmin">
            <a id="sidebar-burger" class="component-sidebar-hamburger-link" href="burger">
                <svg class="hamburger-img" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="344.339px" height="344.339px"
                    viewbox="0 0 344.339 344.339" style="enable-background:new 0 0 344.339 344.339;"
                    xml:space="preserve">
                    <g>
                        <rect y="46.06" width="344.339" height="29.52" />
                    </g>
                    <g>
                        <rect y="156.506" width="344.339" height="29.52" />
                    </g>
                    <g>
                        <rect y="268.748" width="344.339" height="29.531" />
                    </g>
                </svg>
            </a>
        </div>

        <div class="sidebar-menu-list">
            <ul>
                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="#">
                        <i class="icon-general"></i>
                        <p class="link-paragraph">General</p>
                    </a>
                </li>

                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="./pages/details.html">
                        <i class="icon-details"></i>
                        <p class="link-paragraph">Details</p>
                    </a>
                </li>

                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="./pages/links.html">
                        <i class="icon-links"></i>
                        <p class="link-paragraph">Links</p>
                    </a>
                </li>

                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="./pages/banners.html">
                        <i class="icon-banners"></i>
                        <p class="link-paragraph">Banners</p>
                    </a>
                </li>

                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="./pages/personal.html">
                        <i class="icon-personaldata"></i>
                        <p class="link-paragraph">Personal data</p>
                    </a>
                </li>

                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="./pages/payout.html">
                        <i class="icon-payout"></i>
                        <p class="link-paragraph">Payout</p>
                    </a>
                </li>

                <li class="component-sidebar-menu side-strip">
                    <a class="component-sidebar-menu-link" href="./pages/postback.html">
                        <i class="icon-postback"></i>
                        <p class="link-paragraph">Postback</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar-manager-section">
            <p>YOUR ADMIN</p>
            <a id="contact-manager" href="#">
                <div id="dottie" class="green-dottie"></div>
                <img src="images/main-manager.webp" alt="manager image">
                <p>John Doe</p>
            </a>
        </div>

        <div class="sidebar-mobile-section">
            <div class="topbar-mobile-section">

                <div class="wallet-element">
                    <i class="icon-wallet"></i>
                    <p>$1,500.00</p>
                    <i class="icon-arrow-down"></i>
                </div>

                <div class="notification-element">
                    <a href="#">
                        <i class="icon-notification"></i>
                        <div class="orange-dot"></div>
                    </a>
                </div>

                <div class="profile-element">
                    <a class="profile-link" id="login-sidebar" href="#">
                        <i class="icon-profile"></i>
                        <p>Jack Smith</p>
                    </a>
                </div>

                <div class="exit-element">
                    <a id="exit-sidebar" href="#">
                        <i class="icon-quit"></i>
                    </a>
                </div>

            </div>
        </div>

    </div>
</section>