<!DOCTYPE html>

<!-- General Section -->

<section class="container-fluid">
    <div class="general">
        <h3>GENERAL STATISTIC</h3>

        <div class="general-calendar">
            <form id="general-calendar-form" class="calendar-wrapper">
                    <input class="left-calendar-input" type="date" value="2016-05-16" name="date" aria-label="calendar-input-left">
                    <input class="right-calendar-input" type="date" value="2016-05-16" name="date" aria-label="calendar-input-right">
                <i class="icon-calendar"></i>
            </form>
            <button id="general-calendar-reset" class="btn-square calendar-button" type="button" value="Reset-form"
                aria-label="Reset-form">
                <i class="icon-refresh"></i>
            </button>
        </div>

        <div class="general-table">
            <div class="wrapper-table row-table">

                <div class="row-left">
                    <div class="general-table-top">
                        <div class="table-name">
                            <p>Visit Signups</p>
                        </div>
                        <div class="table-value">
                            <p>124</p>
                        </div>
                    </div>

                    <div class="general-table-top">
                        <div class="table-name">
                            <p>FTD</p>
                        </div>
                        <div class="table-value">
                            <p>445</p>
                        </div>
                    </div>
                </div>

                <div class="row-right">
                    <div class="general-table-top">
                        <div class="table-name">
                            <p>Net deposit</p>
                        </div>
                        <div class="table-value">
                            <p>564</p>
                        </div>
                    </div>

                    <div class="general-table-top">
                        <div class="table-name">
                            <p>Turn over</p>
                        </div>
                        <div class="table-value">
                            <p>432</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="general-chart">
            <div class="wrapper">
                <div class="heading">
                    <p>Earnings chart</p>
                </div>
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</section>