@import "variables";
@import "mixins";
@import "normalize";
@import "layout";


/* 
==== FONTS ==== 
*/


h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  font-family: $font;
  font-weight: $title-font-weight;
}

p {
  color: $font-color;
  font-size: 16px;
  font-weight: $paragraph-font-weight;
  font-family: $font;
}

a {
  color: $link-color;
  font-family: $font;
}

li {
  color: $font-color;
  font-family: $font;
}


/* 
==== BUTTONS ==== 
*/

.btn-success {
@include button-style;
}

.btn-square {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: $button-color;
  font-weight: $button-font-weight;
  padding: 10px;
  fill: $white;
  svg {
    width: 25px;
    height: 25px;
  }
  &:hover {
    background-color: #f39c12;
  }
}

.button-refresh {
  fill: $white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: $button-color;
  padding: 10px;
  &:hover {
    background-color: #f39c12;
  }
}


/* 
==== LOGO ==== 
*/

.sidebar-logo-and-hamburger {
  background-color: #191919;
  width: 188px;
  height: 60px;
}

.logo-img {
  width: 90px;
  height: 40px;
  padding-left: 20px;
  padding-top:10px;
  line-height: 60px;
}

.hamburger-img {
  width: 20px;
  height: 22px;
  float: right;
  padding-top:20px;
  padding-right:20px;
  fill: $font-color;
}


/* 
==== SIDEBAR MENU LINKS ==== 
*/


.component-sidebar-menu {
  background-color: #000;
  text-align: left;
  list-style-type: none;
  width: 180px;
  height: 39px;
  &:hover {
  background-color: #282828;
  border-left: 5px solid orange;
  }
}

.component-sidebar-menu-link {
  height: 39px;
  line-height: 39px;
  padding: 0 15px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  }

.link-paragraph {
  margin: 0 auto;
  font-weight: $menu-font-weight; 
}

.component-sidebar-menu-icon {
  fill: $font-color;
  width: 18px;
  height: 18px;
  text-align: left;
  transform: translateY(3px);
}


/* 
==== TOPBAR ELEMENTS ==== 
*/

    /*  Wallet  */ 

.wallet-element {
  list-style-type: none;
  width: 190px;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid $divider-color;
  border-right: 1px solid $divider-color;
  p {
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
    color: $font-color;
  }
}

.wallet-icon {
  width:20px;
  height: 20px;
  margin:0 10px 0 15px;
  fill: $font-color;
  transform: translateY(2px);
}

.icon-arrow-down {
  width: 18px;
  height: 18px;
  margin:0 10px;
  fill: $font-color;
  transform: translateY(8px);
}


    /*  Notification  */ 


.notification-element{
  width:60px;
  height: 60px;
  list-style-type: none;
}

.bell-icon {
  width:20px;
  height: 20px;
  margin: 20px;
  fill: $font-color;
}

.orange-dot {
  width:8px;
  height: 8px;
  background-color: $button-color;
  border-radius: 50%;
  transform: translate(30px, -48px);
}

    /*  Profile  */ 


.profile-element {
  list-style-type: none;
  width: 190px;
  height: 60px;
  border-left: 1px solid $divider-color;
  border-right: 1px solid $divider-color;
  p {
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    margin: 0 auto;
    color: $link-color;
  }
}
.profile-icon {
  width:20px;
  height: 20px;
  margin:0 10px;
  fill: $link-color;
  transform: translateY(5px);
}

    /*  Exit  */ 


.exit-element{
  width:60px;
  height: 60px;
  list-style-type: none;
}

.exit-icon {
  fill: $link-color;
  width:20px;
  height: 20px;
  margin:22px 20px 20px 22px;
}


/* 
==== GENERAL TABLE ==== 
*/


.wrap{
  width: 100%;
}

.column-r {
  flex-direction: column;
  margin-left: 10%;
}

.column {
  flex-direction: column;
}

.general-table-top {
  display: flex;
  flex: wrap;
}

.r1, .r2 {
  border-bottom: 1px solid #e3e3e3;
  line-height: 20px;
  p{
  transform: translateY(10px);
  }
}

.r1 {
  flex: 5;
  width: 250px;
}

.r2 {
  flex: 1;
  width: 50px;
  text-align: right;
  p {
    color: #333;
    font-weight: $menu-font-weight;
  }
}

.c1, .c2 {
  border-bottom: 1px solid #e3e3e3;
  line-height: 20px;
  p{
  transform: translateY(10px);
  }
}

.c1 {
  width: 250px;
}

.c2 {
  width: 50px;
  text-align: right;
  p {
    color: #333;
    font-weight: $menu-font-weight;
  }
}


/* 
==== LINKS TABLE ROW ==== 
*/


.table-row {
  display: flex;
  width: 100%;
  height: auto;
  flex: wrap;
  border-top: 1px solid #e3e3e3;
  &:hover {
    background-color: #f1f3f3;
  }
  &:hover .links-icon {
    fill: $button-color;
  }
}

.bottom-border {
  border-bottom: 1px solid #e3e3e3;
}

.name-column {
  flex: 4;
  p{
    padding-left: 30px;
    line-height: 60px;
    margin: 0;
  }
}

.link-column {
  flex: 4;
  a {
    flex: 4;
    display: block;
    line-height: 60px;
    font-size: 16px;
    text-decoration: none;
  }
}
.links-and-bin-column {
  flex: 2;
  padding: 0 20px;
  text-align: right;
}

.bin-icon, .links-icon {
  height:20px;
  width: 20px;
  fill: $font-color;
}

.bin-icon {
 transform: translateY(5px);
 margin: 0 15px;
}

.links-icon {
 transform: translateY(10px);
 margin-top: 15px;
}

