@import "variables";
@import "mixins";
@import "normalize";
@import "layout";


/* 
==== FONTS ==== 
*/


h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  font-family: $font;
  font-weight: $title-font-weight;
}

p {
  color: $font-color;
  font-size: 16px;
  font-weight: $paragraph-font-weight;
  font-family: $font;
}

a {
  color: $link-color;
  font-family: $font;
}

li {
  color: $font-color;
  font-family: $font;
}


/* 
==== BUTTONS ==== 
*/

.btn-success {
@include button-style;
}

.btn-square {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: $button-color;
  font-weight: $button-font-weight;
  padding: 10px;
  fill: $white;
  cursor: pointer;
  svg {
    width: 25px;
    height: 25px;
  }
  &:hover {
    background-color: #f39c12;
  }
}

.button-refresh {
  fill: $white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: $button-color;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f39c12;
  }
}

/* 
==== MENU HAMBURGER LO-RES POP-UP ==== 
*/

.menu-lo-res-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  margin: 25px;
  padding-right: 3px;
}

.hamburger-lo-res-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  fill: $button-color;
 }


/* 
==== LOGO ==== 
*/

.sidebar-logo-and-hamburger {
  background-color: #191919;
  width: 188px;
  height: 60px;
}

.logo-img {
  width: 130px;
  height: 60px;
  padding-top:5px;
  line-height: 60px;
}

.hamburger-img {
  width: 22px;
  height: 20px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  fill: $font-color;
}


/* 
==== SIDEBAR MENU LINKS ==== 
*/


.component-sidebar-menu {
  background-color: #000;
  text-align: left;
  list-style-type: none;
  width: 185px;
  height: 39px;
  &:hover {
  background-color: #282828;
  border-left: 3px solid orange;
  z-index: 5;
  }
}

.component-sidebar-menu-link {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  &:hover .link-paragraph {
    color: $white;
    } 
    &:hover .component-sidebar-menu-icon {
    fill: $white;
    } 
  }

.link-paragraph {
  margin: 0 auto;
  font-weight: $menu-font-weight;
}

.component-sidebar-menu-icon {
  fill: $font-color;
  width: 18px;
  height: 18px;
  text-align: left;
  transform: translate(300px, 300px);
  margin-right: 10px;
}


/* 
==== TOPBAR ELEMENTS ==== 
*/

    /*  Wallet  */ 

.wallet-element {
  list-style-type: none;
  width: 190px;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid $divider-color;
  border-right: 1px solid $divider-color;
  p {
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
    color: $font-color;
  }
}

.wallet-icon {
  width:20px;
  height: 20px;
  margin:0 10px 0 15px;
  fill: $font-color;
  transform: translateY(2px);
  &:hover {
    fill: $button-color;
  }
}

.icon-arrow-down {
  width: 18px;
  height: 18px;
  margin:0 10px;
  fill: $font-color;
  transform: translateY(8px);
  &:hover {
    fill: $button-color;
  }
}


    /*  Notification  */ 


.notification-element{
  width:60px;
  height: 60px;
  list-style-type: none;
}

.bell-icon {
  width:20px;
  height: 20px;
  margin: 20px;
  fill: $font-color;
  &:hover {
    fill: $button-color;
  }
}

.orange-dot {
  width:8px;
  height: 8px;
  background-color: $button-color;
  border-radius: 50%;
  transform: translate(30px, -45px);
}

    /*  Profile  */ 


.profile-element {
  list-style-type: none;
  width: 190px;
  height: 60px;
  border-left: 1px solid $divider-color;
  border-right: 1px solid $divider-color;
  p {
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    margin: 0 auto;
    color: $link-color;
    &:hover {
    color: $button-color;
  }
  }
}
.profile-icon {
  width:20px;
  height: 20px;
  margin:0 10px;
  fill: $link-color;
  transform: translateY(5px);
}

    /*  Exit  */ 


.exit-element{
  width:60px;
  height: 60px;
  list-style-type: none;
}

.exit-icon {
  fill: $link-color;
  width:20px;
  height: 20px;
  margin:22px 20px 20px 22px;
  &:hover {
    fill: $button-color;
  }
}


/* 
==== GENERAL TABLE ==== 
*/


.wrap{
  width: 100%;
}

.column-r {
  flex-direction: column;
  margin-left: 10%;
}

.column {
  flex-direction: column;
}

.general-table-top {
  display: flex;
  flex: wrap;
}

.r1, .r2 {
  border-bottom: 1px solid $divider-color;
  line-height: 20px;
  p{
  transform: translateY(10px);
  }
}

.r1 {
  flex: 5;
  width: 250px;
}

.r2 {
  flex: 1;
  width: 50px;
  text-align: right;
  p {
    color: #333;
    font-weight: $menu-font-weight;
  }
}

.c1, .c2 {
  border-bottom: 1px solid $divider-color;
  line-height: 20px;
  p{
  transform: translateY(10px);
  }
}

.c1 {
  width: 250px;
}

.c2 {
  width: 50px;
  text-align: right;
  p {
    color: #333;
    font-weight: $menu-font-weight;
  }
}


/* 
==== LINKS TABLE ROW ==== 
*/


.table-row {
  display: flex;
  width: 100%;
  height: auto;
  flex: wrap;
  border-top: 1px solid $divider-color;
  &:hover {
    background-color: #f1f3f3;
  }
  &:hover .links-icon {
    fill: $button-color;
    display: inline-block;
  }
  &:hover .bin-icon {
    display: inline-block;
  }
}

.bottom-border {
  border-bottom: 1px solid $divider-color;
}

.name-column {
  flex: 4;
  p{
    padding-left: 30px;
    line-height: 60px;
    margin: 0;
  }
}

.link-column {
  flex: 4;
  a {
    flex: 4;
    display: inline-block;
    line-height: 60px;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      color: $button-color;
    }
  }
}

.links-and-bin-column {
  flex: 2;
  padding: 0 20px;
  text-align: right;
}

.bin-icon, .links-icon {
  height:20px;
  width: 20px;
  fill: $font-color;
  display: none;
  &:hover {
    fill: $button-color;
  }
}


.bin-icon {
 transform: translateY(5px);
 margin: 0 10px;

}

.links-icon {
 transform: translateY(10px);
 margin-top: 15px;
}

/* 
==== MODALS ==== 
*/

* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;

  overflow: auto;
  padding: 30px;

  display: none;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}
.modal {
  //max-width: 600px;
  margin: auto;
  margin-top: 200px;
  //background-color: $white;
  position: relative;
  display: none;
}
.modal-quit {
  width: 450px;
  height: 200px;
  border-radius: 3px;
  background-color: $white;
  padding: 20px;
  p{
    border-bottom: 1px solid $divider-color;
    padding-bottom: 30px;
    }
}



.btn-quit, .btn-cancel {
  @include button-style;
  border: none;
  margin-left: 20px;
  margin-top: 10px;
}
.btn-cancel {
  background-color: #ccc;
  &:hover.btn-cancel {
    background-color: $divider-color;
  }
}

.modal.show {
  display: block;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}


// Login Modal \\

.modal-login {
  max-width: 800px;
  min-height: 200px;
  border-radius: 3px;
  background-color: $white;

//padding: 20px;
  h5{
    border-bottom: 1px solid $divider-color;
    padding: 15px;
    //border: 1px solid orange;
    }
}

.btn-enter {
  @include button-style;
  width: 180px;
  border: none;
  margin: 10px;
  //margin-left: 20px;
  //margin-top: 10px;
  &:hover.btn-enter {
    background-color: #f39c12;
  }
}

.modal-wrapper {
  //height: 40px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  //border-radius: 5px;
  //box-shadow:inset 0px 0px 0px 5px $white;
  //border: 1px solid $divider-color;
  justify-content: center;
  align-items: center;

}
.key {
  transform: translate(-60px, 2px);
}
.logman {
  transform: translateX(-280px);
}
.key, .logman {
  height: 15px;
  width: 25px;
  position: fixed;
  //transform: translateX(50px);
  //border: 1px solid orange;
  fill: $font-color;
}
//.left-login-input, .right-login-input
.modal-form {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //border: 1px solid $divider-color;
//height: 40px;
  //max-width: 100%;
  //display: flex;
  //border-radius: 5px;
  //box-shadow:inset 0px 0px 0px 5px $white;
  //border: 1px solid $divider-color;
  //justify-content: center;
  //justify-direction: row;
}
.input {
    //display: flex;
    //justify-content: center;
  width: 200px;
  height: 40px;
  margin: 10px;
  //flex: 1;
  border: 1px solid $divider-color;
  border-radius: 2px;
  color: $font-color;
  font-family: $font;
  font-size: $paragraph-font-size;
  //display: inline;
  padding: 0 50px;
  //margin: 5px;
}

