@mixin button-style {
  width: 126px;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  background-color: $button-color;
  font-weight: $button-font-weight;
  color: $white;
  font-family: $font;
  font-size: $button-font-size;
  text-align: center;
  cursor: pointer;

  @media not all and (hover: none) {
    &:hover {
      background-color: #f39c12;
    }
  }
}

@mixin wiggle-hover {
  animation: shake 200ms;
  animation-timing-function: linear;

  @keyframes shake {
    0% {
      transform: rotate(0.5deg);
    }
    50% {
      transform: rotate(-0.5deg);
    }
    100% {
      transform: rotate(0.5deg);
    }
  }
}

@mixin zoom-hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}
