/* Colors */
$font-color: #a6a6a6;
$link-color: #56819f;
$manu-link-colour: #a6a6a6;
$button-color: #f58220;
$white: #fff;
$calendar-entry-color: #333;

/* Font sizes */
$paragraph-font-size: 16px;
$menu-font-size: 14px;
$button-font-size: 18px;
$calendar-entry-size: 14px;

/* Font weights */
$paragraph-font-weight: 700;
$menu-font-weight: 300;
$title-font-weight: 500;
$button-font-weight: 300;

/* Fonts */
$font: "Open Sans", Helvetica, Arial;
